@import "variables";
@font-face {
font-family: 'Aaargh';
src: url('../fonts/Aaargh-webfont.eot');
src: url('../fonts/Aaargh-webfont.svg') format('svg'),  url('../fonts/Aaargh-webfont.ttf') format('truetype'),  url('../fonts/Aaargh-webfont.woff') format('woff')}

html{
	box-sizing:border-box;
	transition: all 0.3s ease;
}
*,*:before, *:after{box-sizing:inherit;
transition: all 0.3s ease;}


body {
	font-family:'Aaargh', sans-serif;
}

hr {
	color:$main-color;
	height: 1px solid;
	width:90%;
}

span {
	color:$main-color;
}

h2 {
	font-size:24px;
	color:$main-color;
}
.logo {
	margin:0 auto;
	padding:10px;
	width:100%;
	height:auto;
	display:block;
	text-align:center;
}

nav {
	color:$main-color;
	display:block;
	text-align:center;
	ul {
		list-style:none;
		margin:0;
		padding:5px;
		li {
			a {text-decoration: none;
				color:$main-color;
				&:hover{
					background-color:$main-color;
					color:white;
				}
			}
		}
	}
	p {
		border-top: 1px solid;
		border-bottom:1px solid;
		padding:3.125%;
		margin:0;
	}
}

.bg img{
	width:100%;
}

.ellipse {
	img {
	width:40%;
	display:block;
	padding:3.125%;
	height:auto;
	margin:0 auto;
	}
	h3 {
		color:$main-color;
		text-align:center;
	}
	p{
		text-align:left;
		font-size:16px;
	}
	.intro {
			width:100%;
			float:left;
			padding:20px;
		}
}

.benefits {
	clear:both;
	p{
		padding:0 20px;
	}
	.physical, .mental, .emotional {
		background-color:$box-color;
		width:98%;
		float:left;
		margin:5px 3%;
		h2{
			position:relative;
			margin:35px;
			margin-bottom:10px;
			padding:10px 0;
			hr {
				width:20px;
				margin:0;
				position:absolute;
				bottom:0;
				display:block;
				text-align: left;
			}
		}
			ul{
				padding:10px;
				li {
					list-style: none;
				}
			}
	}
}


footer {
	.bottom {
		padding-top:20px;
		clear:both;
		text-align:center;
		.ftr-contact {
			img {
			width:7%;
			display:inline-block;
		}
			p{
				color:$main-color;
				display:inline-block;
				font-size:14px;
				width:100%;
				&.phone {
					font-size: 16px;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.ellipse {	
		.intro {
			width:50%;
			float:left;
			padding:20px;
		}
	}

	.benefits {
		.physical, .mental, .emotional {
			background-color:$box-color;
			width:30.333333%;
			height:320px;
			float:left;
			margin:0 1.5%;
			font-size: 14px;
		}
	}

	footer {
		text-align:center;
		.ftr-contact {
			float:left;
			margin-top:20px;
			p{
				float:left;
				display:inline-block;
				font-size:14px;
				width:100%;
				text-align:left;
				margin:0 50px;
				&.phone {
					font-size: 16px;
					}
				}
			}
		.sns{
			float:right;
			margin:30px;
		}
	}
}


@media only screen and (min-width: 1000px) {
	.logo img{
	display:inline-block;
	float:left;
	}

	nav {
		p{
			display:none;
		}
		ul{
			float:right;
			li{
			display: inline-block;
			}
		}
	}



	.ellipse {	
		.intro {
			width:50%;
			float:left;
			padding:20px;
		}
	}
	.benefits {
		.physical, .mental, .emotional {
			background-color:$box-color;
			width:30.333333%;
			height:320px;
			float:left;
			margin:0 1.5%;
			font-size: 14px;
		}
	}
	footer {
		text-align:center;
		.ftr-contact {
			float:left;
			margin-top:20px;
			p{
				float:left;
				display:inline-block;
				font-size:14px;
				width:100%;
				text-align:left;
				margin:0 30px;
				&.phone {
					font-size: 16px;
					}
				}
			}
		.sns{
			float:right;
			margin:30px;
		}
	}
}
